.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}
/* Flex One */
.flexOne {
    display: flex;
    flex-direction: row;
}
.flexOne .square {
    margin: 5px;
}

/* Flex Two */
.flexTwo {
    display: flex;
    flex-direction: column;
}
.flexTwo .square {
    margin: 2px;
}

/* Flex Three */
.flexThree {
    display: flex;
    flex-direction: row-reverse;
}
.flexThree .square {
    margin: 2px;
}

/* Flex Four */
.flexFour {
    display: flex;
    flex-flow: wrap;
    width: 350px;
}
.flexFour .square {
    margin: 5px;
    background: #3d8b6d;
}

/* Flex Five */
.flexFive {
    width: 350px;
    display: flex;
    flex-direction: row;
}
.flexFive .item {
    background: #3d8b6d;
    width: 100px;
    height: 100px;
    margin: 2px;
}
#grow {
    display: flex;
    flex-grow: 2;
}

/* Flex Six */
.flexSix {
    height: 400px;
    width: 500px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
}
.flexSix .one {
    display: flex;
    justify-content: space-around;
}
.flexSix .two {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    background: #d6d6d6;
}
.flexSix .three {
    display: flex;
    justify-content: space-evenly;
}

/* Flex Seven */
.flexSeven {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.flexSeven > .one, .flexSeven > .two, .flexSeven > .three, .flexSeven > .four {
    display: flex;
    flex-direction: column;
}
.flexSeven .one {
    justify-content: center;
}
.flexSeven .two {
    justify-content: flex-end;
}
.flexSeven .three {
    justify-content: flex-start;
}
.flexSeven .four {
    justify-content: space-between;
}

/* Flex Eight */
.flexEight {
    display: flex;
    height: 400px;
    background-color: #eeeeee;
    width: 300px;
}
.flexEight > .one, .flexEight > .two, .flexEight > .three {
    display: flex;
}
.flexEight .one {
    align-items: center;
}
.flexEight .two {
    align-items: flex-end;
}
.flexEight .three {
    align-items: flex-start;
}

/* Flex Nine */
.flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background-color: #eeeeee;
    align-items: flex-start;
    justify-content: space-evenly;
}
#special {
    align-self: flex-end;
}